<footer style="position: fixed; left: 0; bottom: 0; width: 100%; z-index:5" class="p-4 bg-white rounded-lg shadow md:flex md:items-center md:justify-between md:p-6 dark:bg-gray-800">
    <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2022 <a href="https://profile.trug.cf" class="hover:underline" target="_blank">Trug</a>. All Rights Reserved.
    </span>
    <ul class="flex flex-wrap items-center mt-3 sm:mt-0">
        <li>
            <a href="https://github.com/vietrux/Point-System-Ver-1.4/blob/main/Readme.md" class="mr-4 text-sm text-gray-500 hover:underline md:mr-6 dark:text-gray-400">Về trang web</a>
        </li>
        <li>
            <a href="https://github.com/vietrux/Point-System-Ver-1.4" class="mr-4 text-sm text-gray-500 hover:underline md:mr-6 dark:text-gray-400">Github</a>
        </li>
        <li>
            <a href="https://fb.com/vietrux" class="text-sm text-gray-500 hover:underline dark:text-gray-400">Liên hệ</a>
        </li>
    </ul>
</footer>
